-- MySQL dump 10.13  Distrib 5.7.43, for Win64 (x86_64)
--
-- Host: localhost    Database: gestion_restaurante
-- ------------------------------------------------------
-- Server version	5.7.43-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */
;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */
;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */
;
/*!40101 SET NAMES utf8 */
;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */
;
/*!40103 SET TIME_ZONE='+00:00' */
;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */
;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */
;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */
;
/*!40111 SET @OLD_SQLA_NOTES=@@SQL_NOTES, SQL_NOTES=0 */
;

--
-- Table structure for table `detalle_pedido`
--

DROP TABLE IF EXISTS `detalle_pedido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!40101 SET character_set_client = utf8 */
;
CREATE TABLE `detalle_pedido` (
    `id_detalle_pedido` int(11) NOT NULL AUTO_INCREMENT,
    `id_pedido` int(11) NOT NULL,
    `id_producto` int(11) NOT NULL,
    `cantidad` int(20) NOT NULL,
    `precio_unitario` decimal(10, 2) NOT NULL,
    `observaciones` varchar(50) DEFAULT NULL,
    PRIMARY KEY (`id_detalle_pedido`),
    KEY `fk_id_pedido` (`id_pedido`),
    KEY `fk_id_producto` (`id_producto`),
    CONSTRAINT `fk_id_pedido` FOREIGN KEY (`id_pedido`) REFERENCES `pedidos` (`id_pedido`),
    CONSTRAINT `fk_id_producto` FOREIGN KEY (`id_producto`) REFERENCES `productos` (`id_producto`)
) ENGINE = InnoDB AUTO_INCREMENT = 15 DEFAULT CHARSET = latin1;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `detalle_pedido`
--

LOCK TABLES `detalle_pedido` WRITE;
/*!40000 ALTER TABLE `detalle_pedido` DISABLE KEYS */
;
/*!40000 ALTER TABLE `detalle_pedido` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `mesas`
--

DROP TABLE IF EXISTS `mesas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!40101 SET character_set_client = utf8 */
;
CREATE TABLE `mesas` (
    `id_mesa` int(11) NOT NULL AUTO_INCREMENT,
    `numero` int(11) NOT NULL,
    `estado` varchar(20) NOT NULL DEFAULT 'libre',
    PRIMARY KEY (`id_mesa`)
) ENGINE = InnoDB AUTO_INCREMENT = 13 DEFAULT CHARSET = latin1;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `mesas`
--

LOCK TABLES `mesas` WRITE;
/*!40000 ALTER TABLE `mesas` DISABLE KEYS */
;
INSERT INTO
    `mesas`
VALUES (1, 1, 'libre'),
    (2, 2, 'libre'),
    (3, 3, 'libre'),
    (4, 4, 'libre'),
    (5, 5, 'libre'),
    (6, 6, 'libre'),
    (7, 7, 'libre'),
    (8, 8, 'libre'),
    (9, 9, 'libre'),
    (10, 10, 'libre'),
    (11, 11, 'libre'),
    (12, 12, 'libre');
/*!40000 ALTER TABLE `mesas` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!40101 SET character_set_client = utf8 */
;
CREATE TABLE `pedidos` (
    `id_pedido` int(11) NOT NULL AUTO_INCREMENT,
    `id_mesa` int(11) NOT NULL,
    `fecha` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `estado` varchar(20) NOT NULL,
    `observaciones` varchar(50) DEFAULT NULL,
    PRIMARY KEY (`id_pedido`),
    KEY `fk_id_mesas` (`id_mesa`),
    CONSTRAINT `fk_id_mesas` FOREIGN KEY (`id_mesa`) REFERENCES `mesas` (`id_mesa`)
) ENGINE = InnoDB AUTO_INCREMENT = 9 DEFAULT CHARSET = latin1;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */
;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!40101 SET character_set_client = utf8 */
;
CREATE TABLE `productos` (
    `id_producto` int(11) NOT NULL AUTO_INCREMENT,
    `nombre_producto` varchar(20) NOT NULL,
    `descripcion` varchar(50) DEFAULT NULL,
    `precio` decimal(10, 2) NOT NULL,
    `categoria` varchar(20) NOT NULL,
    `estado` varchar(20) NOT NULL,
    PRIMARY KEY (`id_producto`),
    UNIQUE KEY `nombre_producto` (`nombre_producto`)
) ENGINE = InnoDB AUTO_INCREMENT = 13 DEFAULT CHARSET = latin1;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */
;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */
;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */
;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */
;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */
;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */
;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */
;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */
;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */
;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */
;

-- Dump completed on 2026-09-21 14:30:30